<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--
<link rel="stylesheet" href="application/resources/css/bootstrap/bootstrap.min.css">
<script src="application/resources/js/jquery/jquery_3.2.1.js"></script>
<script src="application/resources/js/bootstrap/bootstrap.min.js"></script>
-->