<!DOCTYPE html>
<html>
<head>
    {% include 'partial_views/shared/HeadSharedContent.html' %}
    <link rel="stylesheet" href="application/resources/css/custom/home_stylesheet.css">
    <title>{{ CONTROLLER.TITLE }}</title>
</head>
<body>
    {% include 'partial_views/ContentHomeView.html' %}
</body>
</html>